@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.spanNav{
    background-color: yellow;
}

#listeDiv{
    background-color: red
}

p{
    background-color: gray
}